In [2]:
import fjos

fjos.meteo_file_to_pd('C:\\Users\\runda\\Desktop\\Python mokymai\\Galutinis Projektas Elektros prognoze vs Orai\\Duomenys\\vilniaus-ams.csv')
# fjos.file_to_pd('vilniaus-ams.csv')

               Time(Meteo)  airTemperature  cloudCover
0      2022-07-01 00:00:00            21.0         0.0
1      2022-07-01 01:00:00            20.0         0.0
2      2022-07-01 02:00:00            20.0         0.0
3      2022-07-01 03:00:00            20.0         0.0
4      2022-07-01 04:00:00            20.0         0.0
...                    ...             ...         ...
17563  2024-07-01 19:00:00            18.0        90.0
17564  2024-07-01 20:00:00            18.0        90.0
17565  2024-07-01 21:00:00            17.0        90.0
17566  2024-07-01 22:00:00            17.0        90.0
17567  2024-07-01 23:00:00            16.0        90.0

[17568 rows x 3 columns]

In [3]:
prad = '2022-07-01'
pab = '2024-07-01'
mst_pd = fjos.meteo_file_to_pd('C:\\Users\\runda\\Desktop\\Python mokymai\\Galutinis Projektas Elektros prognoze vs Orai\\Duomenys\\vilniaus-ams.csv')
litgrid_raw_pd = fjos.litgrid_data_to_pd('C:\\Users\\runda\\Desktop\\Python mokymai\\Galutinis Projektas Elektros prognoze vs Orai\\Duomenys\\dashboard_data_2022-07-01_2024-07-01.csv')
litgrid_pd = litgrid_raw_pd[(litgrid_raw_pd['Time']>= f'{prad} 00:00:00') & (litgrid_raw_pd['Time']<= f'{pab} 23:00:00')]
miestas = fjos.meteo_file_to_pd('C:\\Users\\runda\\Desktop\\Python mokymai\\Galutinis Projektas Elektros prognoze vs Orai\\Duomenys\\vilniaus-ams.csv')

In [4]:
litgrid_raw_pd

,Time,Predicted electricity consumption by Ignitis,Actual electricity consumption,Month,Week,Hour
0,2022-07-01 00:00:00,1225.0,1246.044,7,4,0
1,2022-07-01 01:00:00,1143.0,1163.384,7,4,1
2,2022-07-01 02:00:00,1114.0,1130.666,7,4,2
3,2022-07-01 03:00:00,1100.0,1118.605,7,4,3
4,2022-07-01 04:00:00,1073.0,1112.705,7,4,4
...,...,...,...,...,...,...
17563,2024-07-01 19:00:00,1428.0,1429.136,7,0,19
17564,2024-07-01 20:00:00,1411.0,1363.344,7,0,20
17565,2024-07-01 21:00:00,1382.0,1348.061,7,0,21
17566,2024-07-01 22:00:00,1329.0,1321.252,7,0,22
17567,2024-07-01 23:00:00,1219.0,1232.900,7,0,23

In [ ]:
miestas

In [10]:
a = litgrid_pd.sort_values(by='Time', ascending=True)
# a = litgrid_pd.sort_index(axis=0, ascending=False)

In [ ]:
a